
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.bold{
  font-weight:bold;
}
.important-field{
  background-color:yellow;
  border:1px solid black;
  padding: 5px;
}